---
---

{% assign entreprise = site.data.entreprise %}
{% assign sides      = site.data.sides %}
{% assign modals     = site.data.modals %}
{% assign contact    = site.data.contact %}

<html lang="fr">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Boissier SAS • Gérald Boissier • L'amour du Bois</title>
  <meta name="description" content="Créée en 2015 par Gérald Boissier à Réauville,
    l'entreprise Boissier SAS est experte en menuiserie, en terrassement, en broyage,
    en élaguage et en défrichage.">
  <link rel="stylesheet" type="text/css" class="ui" href="semantic/out/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="lib/boissier.min.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  {% include boissier_jsonld.html %}
</head>

<body id="hammer">
  <div id="homepage">
    <!-- Header -->
    {% include header_image.html %}
    {% include header_menu.html %}
    <!-- Tabs -->
    {% include section_entreprise.html %}
    {% include section_activites.html %}
    {% include section_contact.html %}
    <!-- Footer -->
    {% include footer.html %}
    <!-- Modals -->
    {% include modals.html %}
  </div>

  <!-- JS script -->
  <script src="lib/jquery-2.1.4.min.js"></script>
  <script src="semantic/out/semantic.min.js"></script>
  <script src="lib/hammer.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="lib/boissier_module.min.js"></script>
  <script src="lib/boissier_init.min.js"></script>
</body>

</html>
