---
---

{% assign entreprise = site.data.entreprise %}
{% assign sides      = site.data.sides %}
{% assign modals     = site.data.modals %}
{% assign contact    = site.data.contact %}

<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Boissier - L'amour du Bois</title>
  <link rel="stylesheet" type="text/css" class="ui" href="semantic/out/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="lib/boissier.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>

<body id="hammer">
  <div id="homepage">
    <!-- Header -->
    {% include header_image.html %}
    {% include header_menu.html %}
    <!-- Tabs -->
    {% include section_entreprise.html %}
    {% include section_activites.html %}
    {% include section_contact.html %}
    <!-- Footer -->
    {% include footer.html %}
    <!-- Modals -->
    {% include modals.html %}
  </div>

  <!-- JS script -->
  <script src="lib/jquery-2.1.4.min.js"></script>
  <script src="semantic/out/semantic.min.js"></script>
  <script src="lib/hammer.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="lib/boissier_module.js"></script>
  <script src="lib/boissier_init.js"></script>
</body>

</html>
