<script type="application/ld+json" src="lib/boissier_jsonld.js">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Réauville, France",
      "postalCode": "F-26230",
      "streetAddress": "65 rue des Buissonnets"
    },
    "email": "boissier.gerald(at)neuf.fr",
    "founder": {
      "@type": "Person",
      "name": "Gerald Boissier"
    },
    "logo": "https://www.gerald-boissier.fr/images/logo.gif",
    "legalName": "Boissier SAS",
    "name": "Boissier SAS",
    "url": "https://www.gerald-boissier.fr",
    "telephone": "+33 (0)6 16 82 32 85"
  }
</script>
